<div class="top">
  <div class="top__container">
    <div class="sign">
      <div class="sign__top">
        <p>プロフィール編集</p>
      </div>
      <div class="sign__container">
        <%= form_for(current_user) do |f| %>
          <%# <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "sign__container--input" %>
          </div>         
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, placeholder:"メールアドレス", autofocus: true, autocomplete: "email",class: "sign__container--input" %>
          </div>
         
          <div class="field">
            <%= f.label :画像を選択して下さい %><br />
            <%= f.file_field :image,class: "sign__container--input" %>
          </div>

          <div class="actions">
            <%= f.submit "登録", class:"btn" %>
          </div>
        
        <% end %>
        </div>
    </div>
  </div>
</div>
