<div class="main">
  <div class="sideMenu">
    <div class="user--info">

      <div class="user--info__image">
        <img src=<%= @user.image %> class = "icon_image">
      </div>
      
      <div class="user--info__name">
        <p><%= @user.name %></p>
        <% if @user.id == current_user.id %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get %>
        <% end %>
      </div>

    </div>  
    <div class="puzzle--list">
      <p class="puzzle--list--title">パズル一覧</p> 
      <div class="puzzle--list--name">
        <% if @puzzles != nil %>
          <% @puzzles.each do |puzzle| %>
            <p><%= puzzle.title %></p>
          <% end %>
        <% else %>
          <p>パズルが作成されていません</p>
        <% end %>
      </div>

    </div> 
  </div>

  <div class="contents">

    <ul class="contents--menus">
      
      <li class="contents--menu">
        <p id="puzzle-modal-show">新規パズル作成</p>
      </li>
      <li class="contents--menu">
        <p>パズル削除</p>
      </li>
      <li class="contents--menu">
        <p id="modal-show">タスク編集</p>
      </li>
    </ul>

    <div class="puzzle-modal">
      <div class="puzzle-modal__title">
        <p>パズルのタイトルを入力してください</p>
        <i class="far fa-window-close puzzle-modal-close fa-2x" id="puzzle-modal-close"></i>
      </div>
      <div class="puzzle-modal-input">
        <%= form_for(@puzzle, url: user_puzzles_path(user_id: current_user.id)) do |f|  %>
        <%= f.text_field :title, placeholder: "パズルのタイトルを入力",class: "puzzle-title-input" %>
        <%= f.submit "決定",class: "ok-btn" %>
        <% end %>
      </div>
    </div>


    <div class="task-modal">
      <div class="task-modal__title">
        <p>タスクを入力してください</p>
        <i class="far fa-window-close fa-2x" id="modal-close"></i>
      </div>

      <div class="task-modal__edit">
        <p>タスク1</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク2</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク3</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>    
      </div>

      <div class="task-modal__edit">
        <p>タスク4</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク5</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク6</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク7</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク8</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

      <div class="task-modal__edit">
        <p>タスク9</p>
        <%= form_with(model: @task, local: true, id: "input-task-1") do |f| %>
        <%= f.text_field :content, placeholder: "タスクを入力", class: "task-modal__input" %>
        <%= f.submit '決定',id:"task-btn-1" , class:"task-modal__btn" %>
        <%end %>
      </div>

    </div>

    <div class="task--puzzle">

      <div class="task">

        <div class="task--1">
          <p>タスク1:</p>
          <% if @tasks[0] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[0].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox" class="TL-btn">
            <label for="checkbox"></label>
          </div>
        </div>

        <div class="task--2">
          <p>タスク2:</p>
          <% if @tasks[1] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[1 ].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox2" class="TC-btn">
            <label for="checkbox2"></label>
          </div>
        </div>

        <div class="task--3">
          <p>タスク3:</p>
          <% if @tasks[2] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[2].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox3" class="TR-btn">
            <label for="checkbox3"></label>
          </div>
        </div>

        <div class="task--4">
          <p>タスク4:</p>
          <% if @tasks[3] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[3].content %></p>
          <% end %>
          <div class="round position">
            <input type="checkbox" id="checkbox4" class="CL-btn">
            <label for="checkbox4"></label>
          </div>
        </div>

        <div class="task--5">
          <p>タスク5:</p>
          <% if @tasks[4] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[4].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox5" class="CC-btn">
            <label for="checkbox5"></label>
          </div>
        </div>

        <div class="task--6">
          <p>タスク6:</p>
          <% if @tasks[5] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[5].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox6" class="CR-btn">
            <label for="checkbox6"></label>
          </div>
        </div>

        <div class="task--7">
          <p>タスク7:</p>
          <% if @tasks[6] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[6].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox7" class="BL-btn">
            <label for="checkbox7"></label>
          </div>
        </div>

        <div class="task--8">
          <p>タスク8:</p>
          <% if @tasks[7] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[7].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox8" class="BC-btn">
            <label for="checkbox8"></label>
          </div>
        </div>

        <div class="task--9">
          <p>タスク9:</p>
          <% if @tasks[8] === nil %>
            <p>タスクが入力されていません</p>
          <% else %>
            <p><%= @tasks[8].content %></p>
          <% end %>     
          <div class="round position">
            <input type="checkbox" id="checkbox9" class="BR-btn">
            <label for="checkbox9"></label>
          </div>
        </div>

      </div> 
      


      <div class="canvas--wrapper">

        <canvas width="540" height="540" id="stage"></canvas>
        <canvas width="180" height="180" id="top-left"></canvas>
        <canvas width="180" height="180" id="top-center"></canvas>
        <canvas width="180" height="180" id="top-right"></canvas>
        <canvas width="180" height="180" id="center-left"></canvas>
        <canvas width="180" height="180" id="center-center"></canvas>
        <canvas width="180" height="180" id="center-right"></canvas>
        <canvas width="180" height="180" id="bottom-left"></canvas>
        <canvas width="180" height="180" id="bottom-center"></canvas>
        <canvas width="180" height="180" id="bottom-right"></canvas>
        <canvas width="540" height="540" id="line"></canvas>

      </div>
      
    </div>
  </div>
</div>
