<!DOCTYPE html>
<html>
  <head>
    <title>タスクパズル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
<ul class="header__menus">

    <li class="header__menu">
      <%= link_to "タスクパズル", root_path, class: "header__menu--link" %>
    </li>
    <li class="header__menu">
      <%= link_to "ユーザー一覧", users_path, class: "header__menu--link" %>
    </li>
    <li class="header__menu">
      <%= link_to "ユーザー検索", root_path, class: "header__menu--link" %>
    </li>
    <li class="header__menu">
      <%= link_to "パズル検索", root_path, class: "header__menu--link" %>
    </li>
    <% if user_signed_in? %>
    <li class="header__menu">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__menu--link" %>
    </li>
    <li class="header__menu myname">
      <%= link_to current_user.name, root_path, class: "header__menu--link" %>
    </li>
    <% end %>

</ul>
</div>
    <%= yield %>
  </body>
</html>
